<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>第一个参数组</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>玩家名</string>
			<key>Key</key>
			<string>name</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>Sentences</string>
			<key>AutocorrectionType</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocorrectionType</key>
			<string>NO</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>密码</string>
			<key>Key</key>
			<string>password</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>是否打开音乐</string>
			<key>Key</key>
			<string>musicON</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>slider_preference</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MinimumValueImage</key>
			<string>min</string>
			<key>MaximumValueImage</key>
			<string>max</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>人类</string>
				<string>神族</string>
				<string>虫族</string>
			</array>
			<key>Values</key>
			<array>
				<string>Terran</string>
				<string>Protoss</string>
				<string>Zerg</string>
			</array>
			<key>Title</key>
			<string>请选择您喜欢的种族</string>
			<key>Key</key>
			<string>race</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>附加选项</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>my</string>
			<key>Title</key>
			<string>更多...</string>
			<key>Key</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
